[requires]
python_version = "3.6.6"

[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

click = "==6.6"
decorator = "==4.0.10"
flask = "==0.11.1"
flask-api = "==0.6.9"
flask-heroku = "==0.1.9"
gunicorn = "==19.6.0"
imageio = "==1.6"
itsdangerous = "==0.24"
"jinja2" = "==2.8"
markupsafe = "==0.23"
moviepy = "==0.2.3.5"
numpy = "==1.11.2"
python-dotenv = "==0.7.1"
requests = "==2.12.3"
tqdm = "==4.10.0"
werkzeug = "==0.11.11"
rq = "*"


[dev-packages]

