click==6.6
decorator==4.0.10
Flask==0.11.1
Flask-API==0.6.9
flask-heroku==0.1.9
gunicorn==19.6.0
imageio==1.6
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
moviepy==0.2.2.11
numpy==1.11.2
python-dotenv==0.7.1
requests==2.12.3
tqdm==4.10.0
Werkzeug==0.11.11
